

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: calc(-3 * var(--spacing-md));
    margin-left: calc(7 * var(--spacing-lg));
    height: 100%;
    color: var(--contrast-color);
    font-size: var(--font-s-lg);
}

.title {
    letter-spacing: vaR(--spacing-sm);
    text-shadow: 1px 2px 10px black;
}

.sub-title {
    margin: 0;
}

.title-home {
    font-size: var(--font-s-lg-5);
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.title-primary {
    margin: 0;
    font-size: var(--font-s-lg-4);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
}

.home-play-music-container {
    width: 200px;
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    cursor: pointer;
}

.icon-play-home {
    font-size: var(--font-s-lg-5);
    color: var(--primary-color);
    transition: color 0.1s linear;
}

.home-play-music-container:hover .icon-play-home{
    color: var(--primary-light-color);
}
