:root {

    --spacing-vr-sm: 5px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --spacing-lg-1: 40px;
    --spacing-lg-2: 50px;



    --black: rgb(33, 33, 33);
    --black-transparent: rgba(33, 33, 33, 0.742);
    --primary-color: rgb(252, 44, 44);
    --primary-light-color: rgb(253, 89, 89);
    --primary-transparent-color: rgba(252, 44, 44, 0.526);
    --primary-dark-color:rgb(224, 44, 44);
    --contrast-color: rgb(246, 246, 246);

    --font-s-sm: 0.8rem;
    --font-s-sm-1: 1rem;
    --font-s-md: 1.4rem;
    --font-s-md-1: 1.8rem;
    --font-s-lg: 2rem;
    --font-s-lg-1: 2.4rem;
    --font-s-lg-3: 3rem;
    --font-s-lg-4: 4rem;
    --font-s-lg-5: 5rem;

    --b-r-sm: 6px;
    --b-r-md: 12px;
    --b-r-lg: 20px;
    --b-r-mch: 99999px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: vaR(--contrast-color);
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h2 {
    margin: 0;
}