:root {

    --spacing-vr-sm: 5px;
    --spacing-sm: 10px;
    --spacing-sm-1: 15px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --spacing-lg-1: 40px;
    --spacing-lg-2: 50px;



    --black: rgb(33, 33, 33);
    --sub-color: rgb(46, 46, 46);
    --black-transparent: rgba(33, 33, 33, 0.742);
    --primary-color: rgb(252, 44, 44);
    --primary-light-color: rgb(253, 89, 89);
    --primary-transparent-color: rgba(252, 44, 44, 0.526);
    --primary-dark-color:rgb(224, 44, 44);
    --contrast-color: rgb(246, 246, 246);
    --contrast-sub-color: rgb(206, 206, 206);
    --linear-gradient-main: linear-gradient(to right, rgb(253, 89, 89), rgb(252, 44, 44));

    --font-s-sm: 0.8rem;
    --font-s-sm-1: 1rem;
    --font-s-md: 1.4rem;
    --font-s-md-1: 1.8rem;
    --font-s-lg: 2rem;
    --font-s-lg-1: 2.4rem;
    --font-s-lg-3: 3rem;
    --font-s-lg-4: 4rem;
    --font-s-lg-5: 5rem;

    --b-r-sm: 6px;
    --b-r-md: 12px;
    --b-r-lg: 20px;
    --b-r-mch: 99999px;

    --text-shadow:  1px 2px 10px black;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
    background-image: url("./Media/background-image.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: vaR(--contrast-color);
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h2 {
    margin: 0;
}

input {
    outline: none;
}

textarea {
    resize: none;
}

/* container app */

.container-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */

.header-app {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-s-md-1);
    margin: 0 var(--spacing-lg-2);
    margin-bottom: var(--spacing-lg);
    color: vaR(--contrast-color);
}

.container-logo {
    width: 150px;
    display: block;
}

.logo-app {
    width: 100%;
    object-fit: cover;
}

.nav-app {
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;
}

.nav-item {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 1px 2px 10px black;
}

.nav-item::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    border-bottom: 2px solid vaR(--primary-color);
    transition: width 0.1s linear;
}

.nav-item:hover.nav-item::before{
    width: 100%;
}

.active-nav.nav-item::before {
    width: 100%;
}

.login-button {
    padding: var(--spacing-sm) var(--spacing-md);
    margin-left: var(--spacing-md);
    color: white;
    font-size: var(--font-s-md-1);
    border-radius: var(--b-r-mch);
    background-color: var(--primary-color);
    transition: background-color 0.1s ease-out;
}

.login-button:hover {
    background-color: var(--primary-dark-color);
}

/* App body*/

.app-body {
    display: flex;
    gap: var(--spacing-lg-2);
    flex: 1;
    height: 100%;
    overflow: hidden;
}


/* Sub-info */

.container-sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    padding-left: calc(2 * var(--spacing-lg-2));
    margin-top: -50px;
    font-size: var(--font-s-md);
    color: var(--contrast-color);
}

.container-icon-sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
}

.sub-info-icon {
    padding: var(--spacing-vr-sm);
    transition: color 0.1s ease-in-out;
}

.sub-info-icon:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.line-decoration {
    height: 40px;
    border-left: 2px solid var(--primary-color);
}

.sub-info-content {
    margin-top: var(--spacing-md);
    transform:  rotate(-90deg);
}

/* Content */

.container-app-content {
    width: 100%;
    height: 100%;
    padding-right: var(--spacing-lg-2);
    overflow: auto;
}


.container-app-content::-webkit-scrollbar-track
{
    cursor: pointer;
    border-radius: 10px;
}

.container-app-content::-webkit-scrollbar
{
    margin-right: var(--spacing-vr-sm);
	width: 10px;
    cursor: pointer;
}

.container-app-content::-webkit-scrollbar-thumb
{
	border-radius: 6px;
    cursor: pointer;
	background-color: var(--black);
}
